.title {
  font-size: 48px;
  margin-bottom: 1rem;
  text-align: center; }

.title-2 {
  font-size: 34px;
  margin-bottom: 0.5rem; }

.sub-title {
  font-size: 24px;
  margin-bottom: 0.5rem; }

.sub-title-2 {
  font-size: 20px;
  margin-bottom: 0.5rem; }

.captionesc {
  font-size: 14px;
  margin-bottom: 0.5rem;
  line-height: 1.15rem; }

.white-transparent-50 {
  background-color: rgba(255, 255, 255, 0.5); }

.info-para {
  text-align: center;
  margin: 0.75rem auto;
  width: 90%;
  line-height: 1.5rem; }

.first-letter {
  font-size: 48px;
  font-weight: bold;
  word-wrap: normal; }

.no-mobile {
  display: none; }

.card {
  display: inline;
  width: 100%;
  padding: 0.25rem;
  margin: 0.25rem 0;
  border: 1px solid 'dark grey';
  background-color: white;
  box-shadow: 1px 1px 1px 0px rgba(175, 186, 194, 0.76);
  border-radius: 0.25rem;
  box-sizing: border-box; }

.bold {
  font-weight: bold; }

i {
  margin-right: 0.25rem; }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block; }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s; }

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  header .main-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: auto; }

@media screen and (max-width: 800px) {
  .main-logo {
    min-width: 100%; } }
nav {
  width: 65%; }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center; }

.nav-button {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 18px;
  padding: 0.75rem 0;
  width: 20%; }
  .nav-button:first-child {
    border-radius: 1rem 0 0 1rem; }
  .nav-button:last-child {
    border-radius: 0 1rem 1rem 0; }

@media screen and (max-width: 600px) {
  nav {
    width: 100%; }
    nav ul {
      flex-direction: column; }

  .nav-button {
    width: 100%; }
    .nav-button:first-child {
      border-radius: 0px; }
    .nav-button:last-child {
      border-radius: 0px; } }
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

.section-wrapper {
  width: 960px;
  box-sizing: border-box;
  border-top: 1px solid #e3a857;
  padding: 1rem 0;
  margin: 1rem auto; }

@media screen and (max-width: 800px) {
  .section-wrapper {
    width: 100%; } }
footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  height: 10vh; }

#about-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #about-contact .contact-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%; }
  #about-contact .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 33%;
    height: 100%; }
  #about-contact figure {
    overflow: hidden;
    border-radius: 100%; }
    #about-contact figure img {
      width: 100%; }
  #about-contact .contact {
    display: flex;
    justify-content: center;
    align-items: center; }
    #about-contact .contact a {
      margin: 0.5rem; }
  #about-contact a {
    color: black; }
  #about-contact .social-links {
    display: flex;
    justify-content: center;
    align-items: center; }
    #about-contact .social-links li {
      margin: 0.5rem; }
    #about-contact .social-links img {
      height: 40px;
      width: auto; }
  #about-contact .bio-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%; }

@media screen and (max-width: 800px) {
  #about-contact .contact-info-wrapper {
    flex-direction: column; }
  #about-contact .contact-info {
    width: 100%; }
  #about-contact figure {
    max-width: 50%; } }
@media screen and (max-width: 600px) {
  #about-contact figure {
    max-width: 75%; } }
#skills {
  background-color: #e3a857;
  padding: 0.5rem; }
  #skills .skill-board {
    display: flex;
    align-items: flex-start;
    width: 100%; }
  #skills .list {
    width: 16%;
    max-width: 16%;
    max-height: 260px;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: #dfe3e6;
    margin: 0.5rem 0.25rem;
    padding: 0.5rem; }
    #skills .list .list-title {
      font-weight: bold;
      margin-bottom: 0.5rem; }
    #skills .list .skill-level {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      max-height: 220px; }
      #skills .list .skill-level .list-end {
        font-size: 12px;
        color: #6b808c;
        margin-top: 0.5rem; }

@media screen and (max-width: 800px) {
  .list {
    min-width: 25%; }

  .skill-board {
    overflow-x: scroll; } }
@media screen and (max-width: 600px) {
  .list {
    min-width: 45%; } }
#projects .projects-info {
  width: 75%;
  margin: 0 auto 2rem auto; }
#projects .project-section {
  display: flex;
  flex-wrap: wrap; }
#projects .project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  text-decoration: none;
  color: black;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 0.5px rgba(175, 186, 194, 0.76); }
  #projects .project-wrapper .project-info {
    flex-grow: 1;
    align-self: flex-start;
    margin: 1rem 0;
    line-height: 1.5rem; }
  #projects .project-wrapper img {
    width: 75%;
    margin: 0 auto;
    height: auto; }

@media screen and (max-width: 800px) {
  #projects .projects-info {
    width: 90%; }
  #projects .project-wrapper {
    width: 100%; }
    #projects .project-wrapper img {
      width: 100%; } }
body {
  font-family: "Open Sans";
  font-size: 18px; }

a {
  text-decoration: none;
  color: black; }

/*# sourceMappingURL=style.css.map */
