@import './variables';
@import './helpers';
@import './partials/_header';
@import './partials/_nav';
@import './partials/_main';
@import './partials/_footer';

@import './sections/_about-contact';


body{
  font-family: $primary-font;
  font-size: $body-text-font-size;
}

.jump-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
}
