@import './variables';
@import './helpers';
@import './partials/_header';
@import './partials/_nav';
@import './partials/_main';
@import './partials/_footer';

@import './sections/_about-contact';
@import './sections/_skills';
@import './sections/_projects';


body{
  font-family: $primary-font;
  font-size: $body-text-font-size;
}

a{
  text-decoration: none;
  color: black;
}

.jump-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
}
