$primary-color: #e3a857;
$primary-background-color: #eee;



//font sizing
$titles-1-font-size: 30px;
$titles-2-font-size: 20px;
$sub-title-1-font-size: 18px;
$body-text-font-size: 18px;
$buttons-links-font-size: 16px;

//font families
$primary-font: 'Open Sans';
