#about-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
  }

  .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 33%;
    height: 100%;
  }

  figure{
    overflow: hidden;
    border-radius: 100%;
    img{
      width: 100%;
    }
  }

  .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      margin: 0.5rem;
    }
  }

  a{
    color: black;
  }
  .social-links{
      display: flex;
      justify-content: center;
      align-items: center;
      li{
        margin: 0.5rem;
      }
      img{
        height: 40px;
        width: auto;
      }
  }

  .bio-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  .contact-info-wrapper{
    flex-direction: column;
  }
}
