#projects{
  // .title{
  //   width: 50%;
  //   text-align: center;
  //   margin: auto;
  // }
  .projects-info{
    width: 75%;
    margin: 0 auto 2rem auto;
  }

  .project-section{
    display: flex;
    flex-wrap: wrap;
  }
  .project-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    text-decoration: none;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 0.5px rgba(175,186,194,0.76);

    .project-info{
      margin: 1rem 0;
      flex-grow: 1;
      align-self: flex-start;
    }

    img{
      width: 75%;
      margin: 0 auto;
      height: auto;
    }
  }
}


@media screen and (max-width: 600px) {
  #projects{
    .projects-info{
      width: 90%;
    }
    .project-wrapper{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}
