#skills{
  .skill-board{
    display: flex;
    align-items: flex-start;
    .list-title{
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .list-end{
      color: lightgrey;
      margin-top: 0.5rem;
    }

  }
  .skill-level{
    border-radius: 2.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 16%;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem 0.25rem;
    border: 1px solid black;
    background-color: grey;
  }
}
