.timeline {
  margin-top: 5%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-mobile {
  display: none;
}

.timeline-box {
  height: 150px;
  width: 100%;
  .timeline-box-top {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66%;
    width: 100%;
    padding: 0 4%;
    .timeline-box-title {
      text-align: center;
    }
  }
  .timeline-box-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    width: 100%;
    border-top: 2px solid $primary-color;
    position: relative;
    .timeline-box-dot {
      content: "";
      width: 15px;
      height: 15px;
      background-color: rgb(100, 99, 99);
      border-radius: 15px;
      border: 1px solid rgb(175, 174, 174);
      position: absolute;
      top: -8.5px;
      left: 49%;
    }
    .timeline-box-date {
      text-align: center;
    }
  }
  .timeline-box-bottom.future {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    width: 100%;
    border-top: 2px solid #d6dce0;
    position: relative;
    .timeline-box-dot {
      content: "";
      width: 15px;
      height: 15px;
      background-color: white;
      border-radius: 15px;
      border: 1px solid #ddd;
      position: absolute;
      top: -8.5px;
      left: 49%;
    }
    .timeline-box-date {
      text-align: center;
    }
  }
}

@media screen and (max-width: $touch-max-width) {
  .timeline {
    display: none;
  }
  .timeline-mobile {
    display: block;
  }
}
