header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .main-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: auto;
  }
}

//Mobile
@media (max-width: 600px) {
  .main-logo{
    min-width: 100%;
  }
}
