  .main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
  }

  .section-wrapper{
    border-top: 1px solid $primary-color;
    padding: 1rem 0;
    margin: 1rem 0;
  }
